/* Global Styles */

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Playfair Display', serif;
  position: relative;
}

.vert-wrap{
  height: 80%;
}
.vert-text {
  display: block;
  vertical-align: middle;
  text-align: center;
}

.vert-text h1 {
  margin-top: 130px;
  font-size: 140px;
  font-weight: 400;
  letter-spacing: 3px;
  margin: 200px auto 0;
  /*width: 0;
  display: none;*/
}

.vert-text h3 {
  font-size: 50px;
  font-weight: 100;
  letter-spacing: 2px;
  padding-right: 70px;
  margin: 100px auto 0;
  /*width: 0;
  display: none;*/
}

/* Side Menu */

#sidebar-wrapper {
  margin-right: -250px;
  right: 0;
  width: 250px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 55px;
  line-height: 55px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#menu-toggle {
  top: 0;
  right: 0;
  position: fixed;
  z-index: 1;
}

#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.toggle {
  margin: 5px 5px 0 0;
}

/* Full Page Image Header Area */

.header {
  /*height: 100%;*/
  width: 100%;
  position: relative;
}

/* Intro */

.intro {
  padding: 50px 0;
}

/* Education */

.education {
  background: #0a5175;
  padding: 50px 0;
  color: #ffffff;
  font-weight: 200;
  font-size: 16px;
}

.organizations {
  background: #ffffff;
  padding: 50px 0;
  color: #333;
  font-weight: 200;
  font-size: 16px;
}

/* 

.callout {
  color: #ffffff;
  display: table;
  height: 400px;
  width: 100%;
  background: url(../img/callout.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
 */

/* Portfolio */

.portfolio {
  padding: 50px 0;
  background: #0a5175;
  color: #ffffff;

}

.portfolio-item {
  margin-bottom: 25px;
}

.img-portfolio {
  margin: 0 auto;
}


/* Call to Action */

.call-to-action {
  color: #ffffff;
  background: #0a5175;
  padding: 50px 0;
}

.call-to-action .btn {
  margin: 10px;
}

/* Map */

.map {
  height: 500px;
}

/* Footer */

footer {
  padding: 20px 0;
}


.top-scroll {
  margin-top: 50px;
}

.top-scroll a {
  text-decoration: none;
  color: inherit;
}

i.scroll {
  color: #333333;
}

i.scroll:hover {
  color: #0a5175;
}
figure{
  width: 100%;
  max-height: 100%;
}
.item figure img{
  width: 100%;
  max-height: 100%;
}

video {
  width: 100% !important;
  height: auto !important;
  border-radius: 20px;
  display: none;
}
.header{
  display: none;
}
.fa{
  margin: 10px;
}
.fa-twitter-square{
  color: #5EA9DD;
}
.fa-facebook-square{
  color: #3B579D;
}
.fa-google-plus-square{
  color: #DD4B39;
}
.insta{
  height: 38px;
  margin: 12px 10px 10px 10px;
}
.blogger{
  height: 40px;
  margin: 10px 10px 10px 8px;
}
.instalink, .bloglink{
  height: 62px;
  width: 56px;
}
.fa-youtube-square{
  color: #CD201F;
}
.fa-linkedin-square{
  color: #007BB6;
}
.fa-edit{
  color: #0A5175;
}
.menu{
  width: 100%;
  height: 65px;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 50;
  border-bottom: 1px solid #ccc;
}
.menu-social{
  display: inline-block;
  position: fixed;
  top: 0;
  right: 0;
  /*border-bottom: 1px solid #ccc;*/
}
.social div a, .menu-social a{
  border: none;
  padding: 0;
}
.social{
  display: none;
}

.social div{
  display: inline-block;
  padding: 0;
}

.navbar-main{
  display: inline-block;
  vertical-align: middle;
}
.nav li{
  display: inline-block;
}
.nav li a{
  font-size: 30px;
  vertical-align: middle;
  border: none;
  padding-bottom: 10px;
}
.active a{
  background-color: #eee;
}
.white{
  width: 100%;
  max-height: 100%;
}
.ui-loader{
  display: none;
}
.email, .subject, .message{
  margin: 0;
}
#email-form{
  display: none;
  position: fixed;
  top: 65px;
  right: 20%;
  width: 300px;
}
.formclicked{
  display: block !important;
}

/*image captions*/

figure {
  display: block;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 0;
}
figcaption {
  position: absolute;
  background: black;
  background: rgba(0,0,0,0.75);
  color: white;
  padding: 10px 20px;
  opacity: 0;
  font-size: 30px;
  border-radius: 20px;
  z-index: 20;
  -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease;
}
figure:hover figcaption {
  opacity: 1;
}
figure:before {
  content: "?";
  position: absolute;
  font-weight: 800;
  background: black;
  background: rgba(255,255,255,0.75);
  text-shadow: 0 0 5px white;
  color: black;
  width: 24px;
  height: 24px;
  -webkit-border-radius: 12px;
  -moz-border-radius:    12px;
  border-radius:         12px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  -moz-transition: all 0.6s ease;
  opacity: 0.75;
}
figure:hover:before {
  opacity: 0;
}

.cap-left:before {  bottom: 10px; left: 10px; }
.cap-left figcaption { bottom: 0; left: -30%; }
.cap-left:hover figcaption { left: 0; }

.cap-right:before { bottom: 10px; right: 10px; }
.cap-right figcaption { bottom: 0; right: -30%; }
.cap-right:hover figcaption { right: 0; }

.cap-top:before { top: 10px; left: 10px; }
.cap-top figcaption { left: 0; top: -30%; }
.cap-top:hover figcaption { top: 0; }

.cap-bot:before { bottom: 10px; left: 10px; }
.cap-bot figcaption { left: 0; bottom: -30%;}
.cap-bot:hover figcaption { bottom: 0; }

/* Responsive */

@media screen and (max-width: 768px) {
	
/*  .header {
	background: url(../img/bg.jpg) no-repeat center center scroll; 
  }

  .callout {
	background: url(../img/callout.jpg) no-repeat center center scroll; 
  }
*/
  .map {
	height: 75%;
  }
  .menu{
    display: none;
  }
}

@media screen and (min-width: 1050px) and (max-width: 1240px) {

  .nav li a{
    font-size: 20px;
    margin-top: 6px;
  }
}

@media screen and (max-width: 1049px) {

  .menu-social{
    display: none;
  }
  .social{
    display: inline-block;
  }
}

@media screen and (min-width: 1400px) {

  video {
      height: 100% !important;
  }
}